*{
	font-family: Tahoma;
	text-align: center;
	padding: 5px;
	
}
h1{
	
	font-size: 25px;	
	color: white;
	background-color: #7EE5FF;
	width: 600px;
	height: 30px;
	border: 5px double #FFD630;
	margin: 0 auto;

}

form{
	border: 5px double #FFD630;
	width: 600px;
	height: 220px;
	margin: 0 auto;
	background-color: #98E598;
	color: white;

}

input{
	border: 2px solid #FFD630;
	color: #FFD630;
}



#submit{
	width: 240px;
	height: 30px;
	font-size: 15px;
	color: white;
	background-color: #7EE5FF;
	border: 2px solid #FFD630;
	margin: 0 auto;
	padding: 5px;

}